/* show pictures */
#bigpic { display:none; position:absolute; z-index:100; background-color:white; border:1px solid #cccccc; text-align:center; }

/* popup mask */
#popupMask {
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:200;
	background-color:#000000;
	-moz-opacity: 0.4;
	opacity:.40;
	filter: alpha(opacity=40);
	}
#popupContainer {
	display:none;
	position: absolute;
	top: 0px;
	left: 0px;
	width:467;
	height:326;
	z-index: 201;
	padding: 0px;
	}

.typePrimer {
	border-bottom: 1px dashed black;
	white-space: nowrap;
	display: inline;
	cursor: pointer;
	}

/* background table */
.ColorBgBg {
	background-color: #E6E7E7;
	}
	
/* background table photo in lot */
.ColorBgFoto {
	background-color: #EBEAEA;
	}
	
/*background заливка таблицы показа описания в лоте*/
.ColorBgInfo {
	background-color: #FFFFFF;
	}

/* paint table line */
.ColorGreed1 {
	background-color: #F6F6F6;
	}
.ColorGreed2 {
	background-color: #FFFFFF;
	}
/* active cell */
.ColorCell1 {
	background-color: #FED169;
	}
/* price */
.ColorPrice {
	color: #800000;
	}
/* scores */
.ColorScores {
	color: #009900;
	}
/* cell 1 */
.ColorCell_1 {background-color: #EDEDED;}
/* cell 2 */
.ColorCell_2 {background-color: #FCFCFC;
	}
/* table head on reult */
.bgHeadTable {
	background-color: #eee;
	}
/* url */
a {
	color: #016c8f;
	outline: none;
	}
a:hover {
	color: #f90;
	outline: none;
	}
/* url sort asc */
a.asc {
	display: block;
	background: url('/static/img/asc_01.gif') no-repeat left 0;
	width: 11px;
	height: 11px;
	outline: none;
	}
a.asc:hover {
	display: block;
	background: url('/static/img/asc_02.gif') no-repeat left 0;
	width: 11px;
	height: 11px;
	outline: none;
	}
/* url sort desc */
a.desc {
	display: block;
	background: url('/static/img/desc_01.gif') no-repeat left 0;
	width: 11px;
	height: 11px;
	outline: none;
	}
a.desc:hover {
	display: block;
	background: url('/static/img/desc_02.gif') no-repeat left 0;
	width: 11px;
	height: 11px;
	outline: none;
	}
/* url hide button on searsh panel */
a.lsfb_hide {
	display: block;
	background: url('/static/img/b_001.gif') no-repeat left 0;
	width: 22px;
	height: 25px;
	outline: none;
	}
a.lsfb_hide:hover {
	display: block;
	background: url('/static/img/b_002.gif') no-repeat left 0;
	width: 22px;
	height: 25px;
	outline: none;
	}
/* url show button on searsh panel */
a.lsfb_show {
	display: block;
	background: url('/static/img/b_003.gif') no-repeat left 0;
	width: 26px;
	height: 41px;
	outline: none;
	}
a.lsfb_show:hover {
	display: block;
	background: url('/static/img/b_004.gif') no-repeat left 0;
	width: 26px;
	height:41px;
	outline: none;
	}
/* url show filds form */
a.advanced_fields {
	display: block;
	background: url('/static/img/advanced_fields_01.gif') no-repeat left 0;
	width: 224px;
	height: 40px;
	outline: none;
	}
a.advanced_fields:hover {
	display: block;
	background: url('/static/img/advanced_fields_02.gif') no-repeat left 0;
	width: 224px;
	height: 40px;
	outline: none;
	}
/* checkbox off */
.check_off{
	display: block;
	background: url('/static/img/checkbox_01.gif') no-repeat left 0;
	height: 30px;
	padding-left: 26px;
	}
/* checkbox on */
.check_on{
	display: block;
	background: url('/static/img/checkbox_02.gif') no-repeat left 0;
	height: 30px;
	padding-left: 26px;
	}

/* url auctions */
a.red:link { color: ff0000; TEXT-DECORATION: none; }
a.red:VISITED { color: #800000; TEXT-DECORATION: none; }
a.red:hover { TEXT-DECORATION: underline; }

a.blue:link { color: 0000ff; TEXT-DECORATION: none; }
a.blue:VISITED { color: #000080; TEXT-DECORATION: none; }
a.blue:hover { TEXT-DECORATION: underline; }

.Verdana9px {
	font-family: Arial Cyr,Arial,Helvetica,sans-serif;
	font-size: 9px;
	}
.Verdana10px {
	font-family: Arial Cyr,Arial,Helvetica,sans-serif;
	font-size: 10px;
	}

.Verdana11px {
	font-family: Arial Cyr,Arial,Helvetica,sans-serif;
	font-size: 11px;
	}

.Verdana12px {
	font-family: Arial Cyr,Arial,Helvetica,sans-serif;
	font-size: 12px;
	}

.Verdana16px {
	font-family: Arial Cyr,Arial,Helvetica,sans-serif;
	font-size: 16px;
	}

.Verdana18px {
	font-family: Arial Cyr,Arial,Helvetica,sans-serif;
	font-size: 18px;
	}

.Color1Verdana12px {
	font-family: Arial Cyr,Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: #016c8f;
	}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 0px;
	margin: 0px;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	padding: 0px;
	margin: 0px;
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	padding: 0px;
	margin: 0px;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.footer{
	margin: 10px 10px 10px 10px;
	background-color: black;
	border: 1px solid #bcbcbc;
	width: auto;
	}

.foot1 {
	margin: 3px 8px;
	font-size: 12px;
	line-height: 1.4em;
	clear: both;
	}
	
.foot1 a{
	font-size: 12px;
	color: #016C8F;
	text-decoration: underline;
	}
	
.foot1 a:hover , .foot2 a:hover{
	font-size: 12px;
	color: #F90;
	text-decoration: underline;
	}
blockquote.block {
	padding: 0px;
	margin: 0px;
	padding-left: 15px;
}

input.button {
    font-size: 12px;
}

#header {
    /*color:#b3b2b2;*/
}

#header a {
    color:#FFFFFF;
    text-decoration:none;
}

#footer a {
    color:#FFFFFF;
    text-decoration:none;
}

#footer_cont {
    background-color: #000000;
    height:78px;
    text-align:center;
    color:#b3b2b2;
    font-size:11px;
    padding-top:15px;
}
#footer_cont p {
    padding-top:3px;
    padding-bottom:3px;
}
